body {
	font-family: 'Arial';
	margin: 0px;
	padding: 0px;
	margin-top: 30px;
}

#pokemangs {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	margin-top: 25px;
}

#pokemangs td {
	border-bottom: 1px solid dimgray;
	padding: 10px 10px;
	text-align: center;
}

#main_row {
	font-weight: bold;
}

#pokemang_search {
	height: 1.3em;
	border: 8px solid transparent;
	width: 400px;
	font-size: 1.25em;
}

#search_container {
	border: 1px solid dimgray;
	width: 418px;
	border-radius: 2px;
	margin-top: 15px;
	margin-bottom: 7px;
}

#title {
	font-family: 'Luckiest Guy', cursive;
	font-size: 3.5em;
	color: rgb(253, 207, 48);
	text-shadow: -5px 0 rgb(64, 92, 160), 0 5px rgb(64, 92, 160), 5px 0 rgb(64, 92, 160), 0 -5px rgb(64, 92, 160);
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#adv_search_toggle {
	font-size: 0.8em;
	color: dimgray;
	cursor: pointer;
}

.hidden_row {
	display: none;
}

.visible_row {
	display: table-row;
}

.type {
	border: 1px solid dimgray;
	border-radius: 15px;
	padding: 3px 3px;
	width: 80px;
	margin: 2px 2px;
	display: inline-block;
	text-align: center;
	color: white;
}

.poke_name {
	display: block;
	font-size: 1.3em;
	margin-bottom: 6px;
}

.poke_type {
	display: inline-block;
	color: white;
	border: 1px solid dimgray;
	border-radius: 2px;
	font-size: 0.8em;
	padding: 1px 2px;
	margin-left: 1px;
	margin-right: 1px;
	width: 48px;
}

.pokemon_forme {
	color: dimgray;
	display: block;
	margin-bottom: 6px;
	font-size: 0.7em;
}

.pokedex_number {
	color: dimgray;
	font-size: 0.9em;
}

.ability_exception {
	padding: 5px;
	border: 1px dashed white;
	margin-top: 5px;
}

.ability_exception_text {
	color: white;
	font-size: 0.9em;
	display: block;
}

.normal_col {
	background-color: rgb(235, 235, 235);
}

.superweak {
	background-color: rgb(158, 224, 98);
}

.weak {
	background-color: rgb(103, 179, 221);
}

.resistant {
	background-color: rgb(254, 191, 120);
}

.superresistant {
	background-color: rgb(252, 97, 98);
}

.immune {
	background-color: rgb(127, 127, 127);
}


.bug {
	background-color: #A8B820;
}

.dark {
	background-color: #705848;
}

.dragon {
	background-color: #7038F8;
}

.electric {
	background-color: #F8D030;
}

.fairy {
	background-color: #EE99AC;
}

.fighting {
	background-color: #C03028;
}

.fire {
	background-color: #F08030;
}

.flying {
	background-color: #A890F0;
}

.ghost {
	background-color: #705898;
}

.grass {
	background-color: #78C850;
}

.ground {
	background-color: #E0C068;
}

.ice {
	background-color: #98D8D8;
}

.normal {
	background-color: #A8A878;
}

.poison {
	background-color: #A040A0;
}

.psychic {
	background-color: #F85888;
}

.rock {
	background-color: #B8A038;
}

.steel {
	background-color: #B8B8D0;
}

.water {
	background-color: #6890F0;
}